<!DOCTYPE html>
<html lang="en">
<head>
  <title>OnlineProgramming</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
body {
  background: #092756;
}
<body bgcolor="#003399">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Programming Tutorial</a>
    </div>
    <ul class="nav navbar-nav">
      {% if session.logged_in %}
        <li><a href="/homepage">Home</a></li>
      {% else %}
        <li><a href="/">Home</a></li>
      {% endif %}
      <li class="active"><a href="/contact">Contact us</a></li>
      <li><a href="/courses">Courses</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if session.logged_in %}
        <li><a href="/logout">Logout</a></li>
      {% else %}
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Log in</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
<center>
<h3>You can contact us onlineprogrammingtutorials@gmail.com
</center>
</body>
</html>
